body {
    -webkit-font-smoothing: antialiased;
}
.blue {
    color: $blue;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $blue; color: $blue-light; }
}
.green {
    color: $green;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $green; color: $green-light; }
}
.red {
    color: $red;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $red; color: $red-light; }
}
.yellow {
    color: $yellow;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $yellow; color: $yellow-light; }
}
.orange {
    color: $orange;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $orange; color: $orange-light; }
}
.purple {
    color: $purple;
    transition: text-shadow .3s, color .3s;
    &:hover, &:active {text-shadow: 0 0 4px $purple; color: $purple-light; }
}
a:link { transition: text-shadow .3s, color .3s; }
a:link, a:visited { text-decoration:none; }
a:hover { text-shadow: 0 0 4px $link-hover-color; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: $primary;
}

.layout-single-column {
    max-width: 600px;
    margin: 0 15px 45px;
    position: relative;
}

#wrap {
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.site-content {
  backface-visibility: visible;
	position: relative;
	z-index: 10;
	padding-top: 60px;
    .datetime {
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 75%;
        color: darken($body-bg, 33%);
    }
}

@media only screen and (min-width: $mobile-collapse) {
  .site-content {
    margin-left: 150px;
  }
  .layout-single-column {
    margin: 0 40px 75px;
  }
}
