.entry {
  a {transition: all .3s, color .3s;}
  a:hover { text-shadow: 0 0 1px $link-hover-color; }

  .entry-head {
    h2 {
      font-size: 2rem;
      font-family: $font-family-sans-serif-header;
      letter-spacing: 1px;
      font-weight: 100;
      margin-bottom: 1rem;
      a {
        color: $link-color;
        //text-shadow: none;
        border-bottom: 1px solid transparent;
        &:hover {
          //color: $link-hover-color;
          border-bottom-color: darken($body-bg, 10%);
        }
      }
    }
    h3 {
      font: 13px/27px $font-family-sans-serif;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      a {
        color: $link-color;
        position: relative;
        span {position: relative; z-index: 10;}
        &:before {
          content: ' ';
          display: block;
          background-color: $primary;
          height: 1px;
          width: 100%;
          position: absolute;
          z-index: 5;
          bottom: -5px; left: 0; right: 0;
        }
        &:hover {
          &:before {
            background-color: $primary;
          }
        }
      }
    }

    .glyph {
      color: $link-color;
      font: 19px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-width: 0;
      padding: 0 4px;
      &:before { display: none; }
      &:hover { color: $black; }
    }
  }

  .entry-body {
    margin-bottom: 20px;
    h2, h3, h4, h5, h6 {
      font-weight: 100;
      color: $primary;
    }
    p {
      font-size: 1rem;
      font-weight: 100;
      letter-spacing: 1.5px;
      //text-shadow: 1px 1px 1px #000;
      &.lead {font-family: $font-family-sans-serif;}
    }
    a {
      color: $link-color;
      padding-bottom: 1px;
      border-bottom: 1px solid $link-color;
      //text-decoration: underline;
      &:hover { color: $black; }
    }
    blockquote {
      font-weight: 100;
      font-size: 1.25rem;
      border-left: 1px solid $black;
      color: $black;
      padding-left: 10px;
    }
  }

  .entry-footer {
    .entry-topics {
      position: relative;
      //border-top: 1px solid darken($body-color, 40%);
      padding-top: 5px;
      color: darken($body-color, 20%);
      font-size: 90%;
      text-transform: uppercase;
      a {color: darken($body-color, 5%);}
      a:hover {color: darken($body-color, 20%); text-shadow: none;}
      &:before {
        content: ' ';
        display: block;
        width: 25px;
        height: 3px;
        background-color: lighten($body-bg, 10%);
        margin-bottom: 5px;
      }
      .list-inline {
        & > li {
          &:after {
            content: '/';
            padding-left: 8px;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
  }

  &.media {
    & > a {
      position: relative;
      display: block;
      width: 100%;
      height: 300px;
      &:before {
        content: ' ';
        position: absolute;
        display: block;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
        left: 0px; right: 0px;
        top: 0px; bottom: 0px;
        z-index: 5;
        background-color: rgba($header-background, .45);
        transition: all .3s, opacity .3s;
      }
      &:hover:before { background-color: rgba($header-background, .65);}
    }
    figure {
      position: relative;
      display: table;
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position: center;
      //border: 3px solid #0d0d0d;

      .figure-inner {
        position: relative;
        z-index: 10;
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        color: $black;
        //text-shadow: 0px 0px 1px darken($body-bg, 20%);
        & > h3 {
          position: relative;
          z-index: 5;
          letter-spacing: 1px;
        }
        & > p {
          font-weight: 100;
          letter-spacing: 2px;
        }
      }
    }
  }
  &.post {
    &:after {
      content: "";
      clear: both;
      display: block;
      height: 10px;
      width: 50px;
      position: relative;
      left: 0;
      top: 20px;
      background-position: -2px 0;
      background: url('../svg/bg_tile_x.svg') top left repeat;
      background-size: 20px;
      //opacity: .25;
      margin: 40px 0 80px;
    }
  }
}
