$header-background: #050505;

.site-header {
    position: relative;
    z-index: 5;
    //background: $header-background;
    //box-shadow: inset 0 0 5px #000, 0 1px 0 #222, 1px 0 7px rgba(0, 0, 0, 1);

    .site-header-inner {
        padding-top: 60px;
        margin-left: 15px;
        #logo {width: 100%; height: 50px;}
        svg text {
            font-family: $font-family-sans-serif-header;
            letter-spacing: 1.5px;
            font-weight: 100;
        }
        .text {
            fill: $link-color;
            text-transform: uppercase;
            //fill: none;
            font-size: 30px;
            //stroke-width: 0;
            stroke-linejoin: round;
            stroke-dasharray: 40 500;
            stroke-dashoffset: 0;
            stroke: $link-color;
            &:nth-child(5n+1) {
               stroke: $body-bg;
               stroke-dashoffset: 30;
            }
            &:nth-child(5n+2) {
               stroke: $body-bg;
               stroke-dashoffset: -20;
            }
        }
        .text-sm {
          font-size: 13px;
          fill: $body-color;
          font-weight: normal;
          letter-spacing: 1px;
          stroke-width: .25;
          text-transform: capitalize;
        }
        a:hover {
            text-shadow: 0 0 4px $body-bg;
        }
    }
}

.square {
  width: 1px;
  height: 1px;
  background-color: $secondary;
}

.LogoShape{
  fill: none;
  font-size: 30px;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke: $link-color;
}

@media only screen and (min-width: $mobile-collapse) {
  .site-header {
    margin-left: $sidebar-width;
    .site-header-inner { margin-left: 40px; }
  }
}
