$r-featured-background: darken($body-bg, 5%);

.site-sidebar {
  z-index: 5;
  //background: $header-background;
  text-align: center;
  display: table;
  border-right: 1px solid darken($body-bg, 5%);
  //box-shadow: inset 0 0 5px #000, 0 1px 0 #222, 1px 0 7px rgba(0, 0, 0, 1);

  .vLine {
    background: $link-color;
    width: 5px;
    height: 28px;
    right: 0;
    top: -600px;
  }

  &:before {
    display: none;
    content: ' ';
    height: 20px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;

    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba($r-featured-background, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba($r-featured-background, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba($r-featured-background, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba($r-featured-background, 1)); /* Standard syntax (must be last) */
  }

  .site-sidebar-inner {
    //display: table-cell;
    vertical-align: middle;
    //position: relative;
    z-index: 10;
    overflow: hidden;
  }

  .site-nav {
    //text-shadow: 1px 1px 1px $body-bg;
    font-family: $font-family-sans-serif-header;
    position: relative;
    z-index: 15;
    display: none;
    .list-menu.primary {
      &>li {
        padding-right: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-right: 5px solid transparent;
        &.active {
          border-right-color: darken($body-bg, 10%);
        }
        a {
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
          color: $link-color;
          font-weight: 500;
          position: relative;
          opacity: .95;
          transition: text-shadow .3s, color .3s;
          &:hover { color: $body-color; opacity: 1;}
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      color: #f2f2f2;
    }
  }
}

@media only screen and (min-width: $mobile-collapse) {
  .site-sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    &:before { display: block; }
    .site-sidebar-inner { display: table-cell; position: relative; }
    .site-nav { display: block; }
  }
}
