$orange:           #f04911;
$orange-light:     #ff6a00;
$green:            #84a90e;
$green-light:      #c7ff15;
$blue:             #0086bf;
$blue-light:       #00b3ff;
$red:              #c41e1e;
$red-light:        #f00;
$yellow:           #f0d700;
$yellow-light:     #ffe929;
$purple:           #763096;
$purple-light:     #a41be3;
$white: #fff;

$primary: #1fd9b7;
$secondary: #ff0099;

$body-bg:          #f7f7f7;
$body-color:       #181820;
$link-color:       #181820 !default;
$text-shadow: #fff;
$link-hover-color:      $primary !default;
$link-hover-decoration: underline !default;
$grid-gutter-width: 0;

$font-family-sans-serif: "europa", "effra", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-header: "futura-pt", "effra", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif !default;

$headings-font-family:   $font-family-sans-serif-header !default;
$headings-font-weight:   500 !default;

// Site specific variables
$featured-background: lighten($body-bg, 5%);
$sidebar-width: 150px;
$mobile-collapse: 768px;
