{% extends 'replica/cms/base.html' %}{% load replica_cards %}{% load humanize %}
{% block title %}Dashboard{% endblock %}
{% block bodyClass %}rEditor{% endblock %}

{% block content %}
<form>
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="edit-tab" data-toggle="tab" href="#rEdit" role="tab" aria-controls="edit" aria-expanded="true">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Preview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#rSettings" role="tab" aria-controls="profile">Settings</a>
      </li>
    </ul>
    <div class="card replica-card card-editor mb-3">
      <div class="tab-content" id="editorTabContent">
        <div class="tab-pane fade show active" id="rEdit" role="tabpanel" aria-labelledby="edit-tab">
            <div class="card-header">
              <div class="form-group">
                {{form.title}}
              </div>
              <div class="form-group">
                {{form.deck}}
              </div>
              <hr />
            </div>
            <div class="card-body">
              {% include "replica/cms/components/_toolbar.html" %}
              {{form.body}}
            </div>
        </div>
        <div class="tab-pane fade" id="rSettings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="card-body">
                <div class="form-group">
                  <label for="id_slug">Custom URL slug</label>
                  <div class="input-group input-slug">
                    <span class="input-group-addon">{{site_domain}}/</span>
                    {{form.slug}}
                  </div>
                </div>

                <hr />

                <div class="form-group">
                  <label for="id_url">Optional external URL</label>
                  {{form.url}}
                </div>

                <div class="form-group">
                  <label for="id_channel">Type of Post</label>
                  {{form.channel}}
                </div>

                <div class="form-group">
                  <label for="id_image">Template</label>
                  {{form.template}}
                </div>

                <hr />

                <div class="form-group">
                  <h4 class="header-subtitle"><label for="id_content_format">Rendering Mode</label></h4>
                  {% for radio in form.content_format %}
                  <label class="radio-inline" for="{{ radio.id_for_label }}">{{ radio }}</label>
                  {% endfor %}
                </div>

              </div><!-- .card-body -->
        </div><!-- .tab -->
      </div><!-- .tab-content -->
    </div><!-- .card -->
  </div><!-- .col-md-8 -->
  <div class="col-md-4">
    <div class="card replica-card mb-3">
      <div class="card-body">
        <div class="form-group">
          <h4 class="header-subtitle">Post Status</h4>
          <div class="row">
            {% for radio in form.is_active %}
            <label class="radio-inline col-6" for="{{ radio.id_for_label }}">{{ radio }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group datepicker-wrapper">
          <label for="id_pubdate">Publish On</label><br />
          <div class="row">
            {{form.pub_date}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_image">Featured Image (optional)</label>
          {{form.featured_image}}
        </div>
        <div class="form-group topic-checkbox">
          <label for="">Topics</label><br />
          {% for checkbox in form.topic %}
          <label class="checkbox-inline" for="{{ checkbox.id_for_label }}">{{ checkbox }}</label>
          {% if forloop.counter|divisibleby:2 %}<br />{% endif %}
          {% endfor %}
        </div>

      </div><!-- .card-body -->
    </div><!-- .card -->

    {% if edit %}
    <input type="submit" class="btn" value="Edit">
    <a class="btn" href="#" class="">Drafts</a>
    <a class="btn" href="{{ obj.get_absolute_url }}">Live Version</a>
		{% else %}
		<input type="submit" class="btn" value="Save">
		{% endif %}

  </div><!-- .col-md-4 -->
</div><!-- .row -->
</form>
{% endblock %}
