{% extends 'replica/cms/base.html' %}
{% block title %}Media Gallery{% endblock %}
{% load replica_cards %}

{% block content %}
<script>var EntryID = '';</script>
<div class="row mb-3">

  <div class="col-md-12 mb-2">
    <div class="card replica-card card-{{object_slug}} replica-list-card">
      <div class="card-header">
        <h4 class="card-title">Media List</h4>
      </div>
    </div>
  </div>

  {% for obj in object_list %}
  <div class="col-md-3 mb-2">
    <span class="replica-thumbnail">
      <div class="fsr-holder media-wrapper">
        <img class="img-fluid img-thumbnail image-full" src="{{ obj.get_absolute_url }}" />

        <div class="media-actions">
          <input id="Media-{{obj.slug}}" class="sr-only"  type="text" value="![{{obj.title}}]({{ obj.get_absolute_url }} "{{obj.title}}")" />
          <button class="btn btn-default" data-copytarget="#Media-{{obj.slug}}" ><i class="fas fa-copy"></i> Copy</button>
        </div>

        <div class="media-title">
          <h4><a href="{% url 'ReplicaAdmin:MediaEdit' obj.id %}">{{obj.title}}</a></h4>
          <h6 class="mt-2">{{obj.date_updated}}</h6>
        </div>

      </div>
    </span>
  </div>
  {% endfor %}
</div>

{% include "replica/cms/components/_pagination.html" %}
{% endblock %}

{% block javascript %}{% endblock %}
