{% extends 'replica/cms/base.html' %}
{% block title %}Site Menus{% endblock %}
{% load replica_cards %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card replica-card card-{{object_slug}} replica-list-card mb-1">
      <div class="card-header">
        <h4 class="card-title">{% if edit %}{{obj_title}}{% else %}{{obj_title}}{% endif %}</h4>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data" action="{% if edit %}{% url 'ReplicaAdmin:MenuEdit' obj.id %}{% else %}{% url 'ReplicaAdmin:ChannelList' %}{% endif %}">
      {% csrf_token %}
      <div class="card replica-card card-{{object_slug}} replica-list-card mb-1">
        <div class="card-body">
          <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{form.title}}
          </div>
          <div class="form-group">
            <label for="{{ form.slug.id_for_label }}">Slug:</label>
            {{form.slug}}
          </div>
        </div>
      </div>
      {% if edit %}
      <input type="submit" class="btn btn-primary btn-block mb-3" value="Edit {{ob.title}}">
  		{% else %}
  		<input type="submit" class="btn btn-primary btn-block mb-3" value="Save">
  		{% endif %}

    </form>
  </div>
  <div class="col-md-6">
    {% if edit %}
    <div class="card replica-card card-menu-items replica-list-card mb-1">
      <div class="card-header">
        <h4 class="card-title">Menu Items <small>({{obj_items_count}})</small></h4>
      </div>
      <ul class="list-group list-group-flush">
      {% for object in obj_items %}
      {% include "replica/cms/components/_menu-item.html" %}
      {% empty %}
      <li class="list-group-item">{{obj.title}} has no menu items.</li>
      {% endfor %}
      </ul>
    </div>
    <a class="btn btn-primary btn-block mb-1" href="#">New Menu Item</a>
    {% else %}
    {% render_menu_card %}
    {% endif %}
  </div>
</div>
{% endblock %}
