{% extends 'replica/cms/base.html' %}
{% block title %}Templates{% endblock %}
{% load replica_cards %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-8">
    <div class="card replica-card replica-card-settings mb-1">
      <div class="card-header">
        <h4 class="card-title">Templates</small></h4>
      </div>
    </div>
    <div class="card replica-card replica-card-settings mb-1">
      <ul class="list-group list-group-flush">
        {% for object in object_list %}
        <li class="list-group-item" id="{{ object.slug }}">
          <h6 class="entry-title"><a href="{% url 'ReplicaAdmin:TemplateEdit' object.id %}">{{ object.title }}</a></h6>
          <small class="text-muted">{{ object.description }}</small>
        </li>
        {% empty %}
        <li class="list-group-item">No Templates yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <form method="post" enctype="multipart/form-data" action="{% url 'ReplicaAdmin:TemplateCreate' %}">
    {% csrf_token %}
    <div class="card replica-card replica-card-settings mb-1">
      <div class="card-header">
        <h4 class="card-title">Quick Add</small></h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="{{ form.title.id_for_label }}">Template Name</label>
          {{form.title}}
        </div>
        <div class="form-group">
          <label for="{{ form.slug.id_for_label }}">Template slug</label>
          {{form.slug}}
        </div>
        <div class="form-group">
          <label for="{{ form.title.id_for_label }}">Decription</label>
          {{form.description}}
        </div>
        <div class="form-group mb-0">
          <h4 class="header-subtitle mt-2">Template Type</h4>
          {% for radio in form.type %}
          <div class="form-check form-check-inline mb-0">
            <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio }}</label>
          </div>
          {% if forloop.counter|divisibleby:2 %}<br />{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-block mb-3 mt-1" value="Save Template">
    </form>
  </div>
</div>
{% endblock %}
