{% extends 'replica/dashboard/base.html' %}{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block page %}core account dashboard{% endblock %}

{% block content %}
{% include "replica/dashboard/includes/_header.html" %}

<div class="NarrowWrap">
	<section class="panel panel-default replica-panel">
	<div class="panel-body">
	<h2>{% trans 'Password change successful' %}</h2>
	<p>{% trans 'Your password was changed.' %}</p>
	</div>
	</section>
</div>
{% endblock %}
