
.coreExtend {
    //background-color: $darkgrey;
    //color:
}

.coreExtend-Wrap {
    margin: 40px auto;
}

.sm-container {
    max-width: 400px;
    margin: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
