
.coreExtend {
    //background-color: $darkgrey;
    //color:
}

.coreExtend-Wrap {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .form-signin { padding-top: 10px; }
    .heading { letter-spacing: 3px; }
}

.sm-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
