
.site-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 70px;
  transition: margin .3s ease-in-out;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -webkit-transition: margin .3s ease-in-out;

  .site-logo {
    display: inline-block;
    margin-right: 8px;
  }
  .avatar {
    border: 1px solid $gray-500;
  }
  .dropdown-item {
    font-weight: 100;
  }
}

#sidebar-checkbox:checked ~ .page-container .site-header {
  margin-left: 250px;
}


@media only screen and (min-width: 980px) {
    .site-header {
        .navbar-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            &:focus {
              background-color: $blue;
            }
        }
        .site-brand {
          .nav-link { padding-left: 0; }
        }
    }
}
