html,
body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.padding-sm-form {
    padding: 20px 0;
}

.replica-clickable {
    cursor: pointer;
}

.pace-done {
    .replica-panel {
        height: inherit;
        overflow: visible;
        opacity: 1;
    }
}

.m-t-30 {
    margin-top: 30px;
}
