{% extends 'replica/cms/base.html' %}{% load replica_cards %}{% load humanize %}{% load replica_components %}
{% block title %}Dashboard{% endblock %}
{% block bodyClass %}rEditor{% endblock %}

{% block content %}
<script>var EntryID = '{% if obj.id %}{{obj.id|timestamp_unique}}{% else %}NewEntry{% endif %}';</script>

<form method="post" id="entryEditor" enctype="multipart/form-data" action="{% url 'ReplicaAdmin:EntryEdit' obj.id %}">{% csrf_token %}
<div class="row">
  <div class="col-md-12">
    <div class="card replica-card card-editor mb-3">
      <div class="card-header">
        <div class="form-group mb-0">
          {{form.title}}
        </div>
        <div class="form-group mb-0">
          <label class="sr-only" for="id_slug">Custom URL slug</label>
          <div class="input-group input-slug">
            <span class="input-group-addon">{{site_domain}}/</span>
            {{form.slug}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card replica-card card-editor mb-1">
      <div class="card-body">
        <div class="form-group mb-0">
          <label for="{{ form.description.id_for_label }}">Deck</label>
          {{form.deck}}
        </div>
      </div>
    </div><!-- .card -->
    {{form.body}}
  </div><!-- .col-md-8 -->
  <div class="col-md-4">
    {% if edit %}
    <div class="row">
      <div class="col-4">
        <input type="submit" class="btn btn-primary btn-block" value="Edit">
      </div>
      <div class="col-4">
        <a class="btn btn-success btn-block" href="#" class="">Drafts</a>
      </div>
      <div class="col-4">
        <a class="btn btn-success btn-block" href="{{ obj.get_absolute_url }}">Preview</a>
      </div>
    </div>
		{% else %}
		<input type="submit" class="btn btn-primary" value="Save">
		{% endif %}

    <div class="card replica-card mb-1 mt-1">
      <div class="card-body">
        <div class="form-group">
          <h4 class="header-subtitle"><label for="id_is_active">Post Status</label></h4>
            {% for radio in form.is_active %}
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="form-group datepicker-wrapper">
          <label for="id_pubdate">Publish On</label><br />
          <div class="row">
            {{form.pub_date}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_channel">Type of Post</label>
          {{form.channel}}
        </div>
        <div class="form-group">
          <label for="id_image">Featured Image (optional)</label>
          {{form.featured_image}}
        </div>
        <div class="form-group">
          <label for="id_image">Template</label>
          {{form.template}}
        </div>
        <div class="form-group">
          <label for="id_url">Optional external URL</label>
          {{form.url}}
        </div>
        <div class="form-group topic-checkbox">
          <label for="">Topics</label><br />
          {% for checkbox in form.topic %}
          <div class="form-check form-check-inline mb-0">
            <label class="form-check-label" for="{{ checkbox.id_for_label }}">
              {{ checkbox }}
            </label>
          </div>
          {% if forloop.counter|divisibleby:2 %}<br />{% endif %}
          {% endfor %}
        </div>

        <hr />
        <div class="form-group">
          <h4 class="header-subtitle"><label for="id_content_format">Rendering Mode</label></h4>
          {% for radio in form.content_format %}
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio }}</label>
          </div>
          {% endfor %}
        </div>

      </div><!-- .card-body -->
    </div><!-- .card -->

  </div><!-- .col-md-4 -->
</div><!-- .row -->
</form>
{% endblock %}
