{% extends 'replica/cms/base.html' %}
{% block title %}Entries{% endblock %}
{% load replica_cards %}{% load replica_components %}
{% load replica_entry_filters %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-8">
    <div class="card replica-card replica-card-settings mb-1">
      <div class="card-header">
        <div class="pull-right">
          {% render_nav_topic_list %}
        </div>
        <ul class="nav card-header-nav">
          <li class="nav-item">
            <h4 class="card-title mb-0"><a class="nav-link active" href="{% url 'ReplicaAdmin:EntryList' %}">Entries</a></h4>
          </li>
          <li class="nav-item">
            <h4 class="card-title mb-0"><a class="nav-link" href="{% url 'ReplicaAdmin:PageList' %}">Pages</a></h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="card replica-card card-{{object_slug}} replica-list-card mb-3">
      <ul class="list-group list-group-flush">
        {% for object in object_list %}
        <li class="list-group-item" id="{{ object.slug }}">
          <h6 class="entry-title">
            <a href="{% url 'ReplicaAdmin:EntryEdit' object.id %}">{{ object.title }}</a>
              {% if object.is_published %}
              <span class="badge badge-success">Published</span>
              {% else %}
              <span class="badge badge-warning">Draft</span>
              {% endif %}
          </h6>
          <small class="text-muted">({{ object.body_html|wordcount}} words)</small>
        </li>
        {% empty %}
        <li class="list-group-item">{{object_empty}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    {% render_entry_status_filters %}
    {% render_templates_card num=3 show_all=True %}
  </div>
</div>
{% endblock %}
