{% extends 'replica/cms/base.html' %}
{% block title %}{{obj_title}}{% endblock %}
{% load replica_cards %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{% if edit %}{% url 'ReplicaAdmin:TemplateEdit' obj.id %}{% else %}{% url 'ReplicaAdmin:TemplateCreate' %}{% endif %}">
{% csrf_token %}
<div class="row mb-3">
  <div class="col-md-12">
    <div class="card replica-card replica-card-settings">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.title.id_for_label }}">Template Name</label>
              {{form.title}}
            </div>
            <div class="form-group">
              <label for="{{ form.title.id_for_label }}">Decription</label>
              {{form.description}}
            </div>
            <div class="form-group">
              <h4 class="header-subtitle mt-2">Template Type</h4>
              {% for radio in form.type %}
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio }}</label>
              </div>
              {% if forloop.counter|divisibleby:2 %}<br />{% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.slug.id_for_label }}">Template slug</label>
              {{form.slug}}
            </div>
            <div class="form-group">
              <label for="{{ form.title.id_for_label }}">Optional Context</label>
              {{form.context}}
            </div>

            <div class="form-group">
              <label for="{{ form.css_upload.id_for_label }}">Upload CSS File</label><br />
              {{form.css_upload}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{form.template_html }}

<div class="row">
  <div class="col-md-6">
    {% if edit %}
    <input type="submit" class="btn btn-primary btn-block mb-3 mt-1" value="Edit Template">
    {% else %}
    <input type="submit" class="btn btn-primary btn-block mb-3 mt-1" value="Save Template">
    {% endif %}
  </div>
</div>

</form>
{% endblock %}

{% block javascript %}
<script src="/static/admin/js/codemirror.js" type="text/javascript"></script>
<script>
      // Define an extended mixed-mode that understands vbscript and
      // leaves mustache/handlebars embedded templates in html mode
      var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
                       mode: null},
                      {matches: /(text|application)\/(x-)?vb(a|script)/i,
                       mode: "vbscript"}]
      };
      var editor = CodeMirror.fromTextArea(document.getElementById("id_template_html"), {
        mode: mixedMode,
        lineNumbers: true,
        theme: "monokai",
        selectionPointer: true
      });
    </script>
{% endblock %}
