<div class="blips-latest">
{% for object in objects %}
{% ifchanged object.pub_date.day %}<p class="last-posted">Last posted {{ object.pub_date|date:"l, F j, Y" }}.</p>{% endifchanged %}
<div class="blip" id="blip-{{ object.id }}">
	<div class="blip-body">{{ object.body_html|safe }}</div>
	{% if user.is_authenticated %}
	<div class="manage-blips pull-right">
		<a href="{% url 'edit-blip' object.id %}">Edit</a> | <a href="{% url 'delete-blip' object.id %}">Delete</a>
	</div>
	{% endif %}
	<span class="date"><i class="icon-time icon-white"></i> <time datetime="{{ object.pub_date|date:"g:i:s A" }}">{{ object.pub_date|date:"g:i:s A" }}</time></span>
</div>
{% endfor %}
</div>
