.entries-archived {
    margin: 0 0 40px;

    .datetime {
        padding-top: 20px;
    }

    p.archived {
        font-size: 1.25rem;
        letter-spacing: 1px;
    }
}

.linklist.archived {
    text-transform: uppercase;
    letter-spacing: 1px;
}
