#blips {
    h2.heading {margin-left: $grid-gutter-width;}

    .timelines {
        .datetime {margin: 20px 0;}
        p.timeline {
            margin-left: $grid-gutter-width;
            a.timeline-url:hover {color: $green;}
        }
    }

    #new-timeline {
        margin-top: $grid-gutter-width;
        border-top: 1px solid darken($text-color, 40%);
        padding: 10px $grid-gutter-width;
    }

    .blips-latest {margin-top: $grid-gutter-width;}

    .last-posted {
        font: 14px/19px $font-family-sans-serif;
        font-weight: 500;
        color: $blue;
        background-color: #202020;
        padding: 8px $grid-gutter-width;
        display: inline-block;
    }

    .blip {
        transition: all .3s, color .3s;
        padding: 10px $grid-gutter-width;
        .blip-body p:last-child {margin-bottom: 0;}
        .date, .manage-blips {color: #525252; font-size: 13px; line-height: 15px;}
        .manage-blips a {color: #525252;}
    }
    
    .blip:hover {background-color: $header-bg;}

    .blip + .last-posted {margin-top: $grid-gutter-width;}


    #add_blip_form {
        padding: 10px $grid-gutter-width;
    }

    textarea.form-control {
        border-color: darken($text-color, 40%);
        color: lighten($text-color, 20%);
        background-color: $header-bg;
        margin-bottom: 10px;
    }

    .blip-form {
        margin-left: $grid-gutter-width;
    }

    input[type="text"] {
        border-color: darken($text-color, 40%);
        color: lighten($text-color, 20%);
        background-color: $header-bg;
    }
}
