
.entry {
    a {transition: all .3s, color .3s;}
    a:hover {
        //text-shadow: 0 0 1px $link-hover-color;
    }

    .entry-head {
        h2 {
            font-size: 2rem;
            font-family: $font-family-sans-serif-header;
            letter-spacing: 1px;
            font-weight: 100;
            margin-bottom: 1rem;
            a {
                color: #111;
                &:hover {
                    color: #fff;
                    text-shadow: none;
                    background-color:  $brand-primary;
                }
            }
        }
        h3 {
            font: 13px/27px $font-family-sans-serif;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            a {
                padding-bottom: 4px;
                border-bottom: 1px dotted $link-hover-color;
                &:hover {
                    border-color: $brand-primary;
                    color: $brand-secondary;
                    text-shadow: 0 0 1px lighten($link-color, 5%);
                }
            }
        }

        .glyph {
            color: darken($brand-secondary, 30%);
            font: 19px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-width: 0;
            padding: 0 4px;
            &:hover {
                color: $brand-primary;
                text-shadow: none;
            }
        }
    }

    .entry-body {
        margin-bottom: 20px;
        h3 {font-weight: 100;}
        p {
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: 1px;
            &.lead {font-family: $font-family-sans-serif;}
        }
        a {
            color: $link-color;
            text-decoration: underline;
            &:hover {
                background-color:  darken($body-bg, 8%);
            }
        }
        blockquote {
            font-weight: 100;
            color: $brand-primary;
            p {
                font-size: 2rem;
                letter-spacing: 1.5px;
            }
        }
    }

    .entry-footer {
        .entry-topics {
            position: relative;
            //border-top: 1px solid darken($text-color, 40%);
            padding-top: 5px;
            color: darken($text-color, 20%);
            font-size: 90%;
            text-transform: uppercase;
            a {color: darken($text-color, 20%);}
            a:hover {color: darken($text-color, 5%); text-shadow: none;}

            &:before {
                content: ' ';
                display: block;
                width: 25px;
                height: 3px;
                background-color: $link-color;
                margin-bottom: 5px;
            }
        }
    }
}
