
.entry {
    a {transition: all .3s, color .3s;}
    a:hover {
        text-shadow: 0 0 1px $link-hover-color;
    }

    .entry-head {
        h2 {
            font: 25px/31px $font-family-sans-serif-header;
            letter-spacing: 1px;
            font-weight: 100;
            margin-bottom: 1rem;
            a {
                color: darken($link-color, 15%);

            }
            a:hover {
                color: $link-hover-color;
                text-shadow: 0 0 1px lighten($link-color, 5%);
            }
        }
        h3 {
            font: 13px/27px $font-family-sans-serif;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            a {padding-bottom: 4px; border-bottom: 1px dotted $link-hover-color;}
            a:hover {
                color: $brand-secondary;
                text-shadow: 0 0 1px lighten($link-color, 5%);
                border-color: $brand-secondary;
            }
        }

        .glyph {
            color: darken($brand-secondary, 30%);
            font: 19px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-width: 0;
            &:hover {
                color: $brand-secondary;
                text-shadow: none;
            }
        }
    }

    .entry-body {
        margin-bottom: 20px;

        .deck p:first-child {}
        h3 {font-weight: 100;}
        p.lead {font-family: $font-family-sans-serif;}
        p { font-size: 1.25rem; font-weight: 100;}
        a {
            color: $link-color;
            &:hover { color: $link-hover-color; }
        }
        blockquote {
            font-weight: 100;
            border-left: 3px solid $brand-primary;
            padding: 0 0 0 15px;
            color: darken($text-color, 15%);
            p {
                font-size: 1.5rem;
                letter-spacing: 1px;
            }
        }
    }

    .entry-footer {
        .entry-topics {
            position: relative;
            //border-top: 1px solid darken($text-color, 40%);
            padding-top: 5px;
            color: darken($text-color, 20%);
            font-size: 90%;
            text-transform: uppercase;
            a {color: darken($text-color, 20%);}
            a:hover {color: darken($text-color, 5%); text-shadow: none;}

            &:before {
                content: ' ';
                display: block;
                width: 25px;
                height: 3px;
                background-color: $link-color;
                margin-bottom: 5px;
            }
        }
    }
}
