.site-footer {
    position: relative;
    margin-left: 28%;
    font-size: .95rem;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: $font-family-sans-serif-header;
    text-transform: uppercase;
    padding: $grid-gutter-width 0;
}
