$header-background: #050505;

.site-header {
    position: fixed;
    width: 28%;
    height: 100%;
    z-index: 5;
    background: $header-background;
    text-align: center;
    display: table;
    border-right: 1px solid #222;
    //box-shadow: inset 0 0 5px #000, 0 1px 0 #222, 1px 0 7px rgba(0, 0, 0, 1);
    .site-background {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        opacity: .25;
        z-index: 1;
    }
    .site-header-inner {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 10;
        padding-bottom: 150px;
    }
    .site-nav {
        text-shadow: 1px 1px 1px $body-bg;
        font-family: $font-family-sans-serif-header;
        position: relative;
        z-index: 15;
        .list-menu.primary {
            &>li {
                margin: 7px auto;
                a {
                    text-transform: uppercase;
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #d2d2d8;
                    font-weight: 500;
                    position: relative;
                    opacity: .95;
                    transition: text-shadow .3s, color .3s;
                    &:hover { color: $white; opacity: 1;}
                }
            }
        }
        p {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            color: #f2f2f2;
        }
    }
}
