.site-header {
    position: fixed;
    width: 28%;
    height: 100%;
    z-index: 5;
    background: $brand-primary;
    text-align: center;
    display: table;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid darken($brand-primary, 25%);

    .site-header-inner {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 10;
        padding-bottom: 150px;
    }

    h1.site-title { display: none; }
    h6.site-author {
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 1px 1px 1px darken($brand-primary, 25%);
        span { text-transform: uppercase; }
    }

    .site-nav {
        margin-top: 20px;
        text-align: center;
        text-shadow: 1px 1px 1px darken($brand-primary, 25%);
        font-family: $font-family-sans-serif-header;

        .list-menu.primary {
            &>li {
                margin: 7px auto;
                a {
                    text-transform: uppercase;
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #fff;
                    font-weight: 100;
                    &:hover { color: #fff; }
                }
            }
        }
        p {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            color: #f2f2f2;
        }
    }
    &:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
        opacity: 0.65;
        background-image: -webkit-linear-gradient(bottom left,$brand-secondary,$brand-primary);
        background-image: -ms-linear-gradient(bottom left,$brand-secondary,$brand-primary);
        background-image: linear-gradient(to top to right,$brand-secondary,$brand-primary);
        background-color: $brand-primary;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}
