.site-content-header {
    svg text {
        //font-size: 21px;
        fill: lighten($body-bg, 25%);
        font-family: $font-family-sans-serif-header;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 100;
    }
    .text {
        fill: none;
        font-size: 30px;
        stroke-width: 1;
        stroke-linejoin: round;
        stroke-dasharray: 40 500;
        stroke-dashoffset: 0;
        &:nth-child(5n+1) {
            stroke: $white;
            stroke-dashoffset: 30;
        }
        &:nth-child(5n+2) {
            stroke: $white;
            stroke-dashoffset: -20;
        }
    }

    .site-author {
        letter-spacing: 1px;
        font-weight: normal;
        font-size: 13px;
        color: lighten($body-bg, 50%);
        span { text-transform: uppercase; }
    }
    a:hover {
        text-shadow: 0 0 4px $body-bg;
    }
}
