.page {
    .page-inner {
        .entry-head {}
        .entry-body {
            p {
                font-size: 1.15rem;
                font-weight: 100;
                letter-spacing: 1px;
            }
        }
    }
}
