<article class="{{ object.channel.slug }} {% if not object.is_active %}draft{% endif %} entry layout-single-column" id="entry-{{ object.id }}">
	<header class="entry-head">
		<div class="entry-meta">
			<time datetime="{{ object.pub_date|date:"Y-m-d" }}" class="entry-time sr-only">{{ object.pub_date|date:"l, F jS Y" }}</time>
		</div>
	{% if object.url %}
		<h3><a href="{{ object.url|safe }}" title="{{ object.title|safe }}"><span>{{ object.title|safe }}</span></a>
		<span class="linked-list-permalink"><a href="{{ object.get_absolute_url }}" rel="bookmark" class="glyph">&#8734;</a></span></h3>
	{% else %}
		<h2><a href="{{ object.get_absolute_url }}" title="{{ object.title|safe }}" rel="bookmark">{{ object.title|safe }}</a></h2>
	{% endif %}
	</header>
	<section class="entry-body {{ object.channel.slug }}">
	{% if object.image %}
		<div class="imgWrap">
			<figure><img src="{{object.featured_image.image.url}}" class="img-responsive" alt="{{object.image.title}}" /></figure>
		</div>
	{% endif %}
	{% if object.deck and not detailed %}
		<span class="deck">{{ object.deck_html|safe }}</span>
	{% elif detailed  %}
		<span class="deck">{{ object.deck_html|safe }}</span>
		{{ object.body_html|safe }}
	{% else %}
		{{ object.body_html|safe }}
	{% endif %}
	</section>
	<footer class="entry-footer">
		{% if object.topic.all %}
        <span class="entry-topics {{ object.channel.slug }}">
            <ul class="list-inline">
			{% for topic in object.topic.all %}
			<li class="list-inline-item"><a href="{% url 'ReplicaPulse:EntriesByTopic' topic.slug %}">{{ topic.title|safe }}</a></li>
			{% endfor %}
            </ul>
        </span>
		{% endif %}
	</footer>
</article>
