{% extends 'themes/exile/base.html' %}{% load humanize %}{% load micro_tags %}

{% block title %}Notes | {% endblock %}
{% block page %}page replicaMicro{% endblock %}

{% block content %}{% load humanize %}{% load micro_tags %}
<section id="blips" class="page layout-single-column">
<h2 class="heading">{{ timeline.name }}</h2>

{% for object in object_list %}
{% ifchanged object.pub_date.day %}<p class="datetime last-posted">{% if forloop.first %}Last updated {% endif %}{{ object.pub_date|date:"l, F j, Y" }}.</p><hr />{% endifchanged %}
<div class="note" id="note-{{ object.id }}">
	<div class="note-body">{{ object.body_html|safe }}</div>
	<span class="date datetime"><i class="fa fa-clock-o"></i> Posted: <time datetime="{{ object.pub_date|date:"g:i:s A" }}">{{ object.pub_date|date:"g:i:s A" }}</time></span>
</div>
{% endfor %}

{% if is_paginated %}
  <div class="pagination site-pagination">
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&larr; Older entries</a>
    {% endif %}
    {% if page_obj.has_previous and page_obj.has_next %}|{% endif %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Newer entries &rarr;</a>
    {% endif %}
  </div>
{% endif %}

</section>

{% endblock %}
