.replicaMicro {

    .timelines {
        .datetime {
            margin: 20px 0;
        }
        .timeline {
            padding-bottom: 10px;
            border-bottom: 1px solid darken($body-bg, 15%);
            margin-bottom: 10px;
            h4 {
                margin-bottom: 0;
                font-size: 1.25rem;
                letter-spacing: 1px;
            }
            p {
                margin: 0;
                letter-spacing: 1px;
                font-weight: 100;
            }
        }
    }

    .last-posted {
        padding: 8px $grid-gutter-width;
    }

    .note {
        transition: all .3s, color .3s;
        padding-bottom: 10px;
        border-bottom: 1px solid darken($body-bg, 15%);
        margin-bottom: 20px;

        h4 {font-size: 19px;}

        .note-body p:last-child {margin-bottom: 0;}
        .date, .manage-notes {color: #525252; font-size: 13px; line-height: 15px;}
        .manage-notes a {color: #525252;}
    }


    .note + .last-posted {margin-top: $grid-gutter-width;}


    #add_blip_form {
        padding: 10px $grid-gutter-width;
    }

    textarea.form-control {
        border-color: darken($text-color, 40%);
        color: lighten($text-color, 20%);
        margin-bottom: 10px;
    }

    .blip-form {
        margin-left: $grid-gutter-width;
    }

    input[type="text"] {
        border-color: darken($text-color, 40%);
        color: lighten($text-color, 20%);
    }
}
