

.r-featured-story {
    position: relative;
    width: 100%;
    padding: 20px 40px;
    text-align: left;
    background-color: $featured-background;

    &:after {
        display: block;
        content: ' ';
        height: 20px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;

        background: -webkit-linear-gradient(right, rgba(255,0,0,0), rgba($featured-background, 1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left, rgba(255,0,0,0), rgba($featured-background, 1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left, rgba(255,0,0,0), rgba($featured-background, 1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to left, rgba(255,0,0,0), rgba($featured-background, 1)); /* Standard syntax (must be last) */
    }
    a {
        color: $white;
        text-shadow: none;
        border-bottom: 1px dotted;
        transition: all .3s ease;
        &:hover {
            color: $link-color;
            border-bottom: 1px solid $link-color;
        }
    }
    h6 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        text-shadow: 1px 1px 1px darken($featured-background, 10%);
    }
    p {
        margin: 0 0;
        letter-spacing: 1px;
        font-weight: lighter;
        font-size: 95%;
        color: lighten($featured-background, 45%);
        text-shadow: 1px 1px 1px darken($featured-background, 5%);
    }
}
