{% extends "coreExtend/base.html" %}
{% load i18n %}{% load core_tags %}

{% block title %}Edit your profile{% endblock %}
{% block page %}core account dashboard{% endblock %}

{% block content %}
<div class="NarrowWrap">
<section class="panel panel-default replica-panel">
<div class="panel-body">
    <div id="avatar" class="text-center d-block mx-auto my-4">
        <img class="rounded-circle border" width="120" height="120" src="https://secure.gravatar.com/avatar/{{ user.username|email_hash }}?s=250&amp;d={{STATIC_URL}}img/gravatar.png">
    </div>

    <h2 class="text-center">{{ user.username }}</h2>

    <form method="post" enctype="multipart/form-data" action="" class="wide mb-4">{% csrf_token %}

        {% if form.errors %}
        <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
        {% endif %}

        <div class="form-group">
            <label for="id_first_name">Your name:</label>
            <div class="row">
                <div class="col-md-6">
                    <label class="sr-only" for="id_first_name">First name:</label>
                    {{ form.first_name }}
                </div>
                <div class="col-md-6">
                    <label class="sr-only" for="id_last_name">Last name:</label>
                    {{ form.last_name }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="id_email">Email address:</label>
            {% if form.email.errors %}
              <p class="errors">{{ form.email.errors.as_text }}</p>
            {% endif %}
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="id_location">Location:</label>
            {% if form.location.errors %}
            <p class="errors">{{ form.location.errors.as_text }}</p>
            {% endif %}
            {{ form.location }}
        </div>

        <div class="form-group">
            <label for="id_url">Personal website:</label>
            {% if form.url.errors %}
            <p class="errors">{{ form.url.errors.as_text }}</p>
            {% endif %}
            {{ form.url }}
        </div>

        <div class="form-group">
            <label for="id_name">Gender:</label>
            {% if form.gender.errors %}
            <p class="errors">{{ form.gender.errors.as_text }}</p>
            {% endif %}
            {{ form.gender }}
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="Save">
    </form>
</div>
</section>
</div>
{% endblock %}
