<aside class="{{ object.channel.slug }} {% if not object.is_active %}draft{% endif %} entry layout-single-column fadeLeft" id="entry-{{ object.id }}">
<time datetime="{{ object.pub_date|date:"Y-m-d" }}" class="entry-time sr-only">{{ object.pub_date|date:"l, F jS Y" }}</time>
<a href="{{ object.url }}" rel="bookmark">
    <figure>
        <div class="figure-inner">
            <h3 class="text-center">{{ object.title|safe }}</h3>
            {{object.deck_html|safe}}
        </div>

        <img src="{{object.featured_image.image.url}}" class="image-full sr-only" alt="{{object.image.title}}" />
    </figure>
</a>
</aside>
