{% extends "coreExtend/base.html" %}{% load i18n %}

{% block title %}Log in | {% endblock %}
{% block page %}core login{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">
    <p class="my-0">Please fix the errors below before you can continue.</p>
</div>
{% endif %}

{% if user.is_authenticated %}
<p class="logged-in">Already Logged in. <a href="{% url 'CoreExtend:Logout' %}">Logout?</a></p>
{% else %}
<h2 class="heading">Login</h2>
<form class="form-signin" method="post" action="{% url 'CoreExtend:login' %}">{% csrf_token %}
    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label for="id_username" class="sr-only">{% trans 'Username' %}</label>
        <input id="id_username" class="form-control" placeholder="Username" type="text" name="username" maxlength="255" />
        {% if form.username.errors %}
        <span class="help-block">{{ form.username.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        <label for="id_password" class="sr-only">{% trans 'Password' %}</label>
        <input id="id_password" class="form-control" placeholder="Password" type="password" name="password" />
        {% if form.password.errors %}
        <span class="help-block">{{ form.password.errors }}</span>
        {% endif %}
    </div>

    <input class="btn btn-primary btn-block" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p class="mt-3"><a href="{% url 'CoreExtend:password_reset' %}">Forgot your password?</a></p>
{% if site_register %}<p><a href="{% url 'CoreExtend:register' %}">Need an account</a>?</p>{% endif %}
{% endif %}
{% endblock %}
