{% extends 'replica/cms/base.html' %}
{% block title %}Timelines{% endblock %}
{% load replica_cards %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card replica-card card-{{object_slug}} replica-list-card mb-1">
      <div class="card-header">
        <h4 class="card-title">{% if edit %}{{obj_title}}{% else %}{{obj_title}}{% endif %}</h4>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data" action="{% if edit %}{% url 'ReplicaAdmin:TimelineEdit' obj.id %}{% else %}{% url 'ReplicaAdmin:TimelineNew' %}{% endif %}">
      {% csrf_token %}
      <div class="card replica-card card-{{object_slug}} replica-list-card mb-1">
        <div class="card-body">
          <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Timeline Name</label>
            {{form.name}}
          </div>
          <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{form.deck}}
          </div>

          <div class="form-group mb-1">
            <div class="form-check">
              <label class="form-check-label" for="{{ form.rev_order.id_for_label }}">
                {{form.rev_order}} Reverse note order?
              </label>
            </div>
          </div>

          <div class="form-group mb-0">
            <div class="form-check">
              <label class="form-check-label" for="{{ form.is_public.id_for_label }}">
                {{form.is_public}} Display Timeline to the public?
              </label>
            </div>
          </div>

        </div>
      </div>

      {% if edit %}
      <input type="submit" class="btn btn-primary btn-block" value="Edit">
  		{% else %}
  		<input type="submit" class="btn btn-primary btn-block" value="Save">
  		{% endif %}

    </form>
  </div>
  <div class="col-md-6">
    {% render_timelines_card 25 %}
  </div>
</div>
{% endblock %}
