.replica-card {
    transition: all 1s ease-in-out;
    position: relative;
    small.text-muted {font-weight: 100;}

    .card-header {
      background-color: $white;
      border-bottom: 1px solid rgba(0,0,0,.125);

      .card-header-nav {
        .nav-item:first-of-type {
          .nav-link {padding-left: 0; border-right: 1px solid;}
        }
        .nav-link {
          padding: 0 1rem;
          &.active {font-weight: 300;}
        }
      }
      .card-title {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1rem;
        //opacity: .5;
        letter-spacing: 1px;
        small {font-weight: 100;}
      }
      .pull-right {font-size: .75rem; position: relative; z-index: 5;}
      .card-header-btn {
        color: $green;
        text-transform: uppercase;
      }
    }
    .entry-title {
      font-weight: 400;
    }
    .card-body {
      position: relative;
    }
    .card-footer {
      background-color: $white;
      border-top-width: 0;
    }
    // Promoted Card
    &.replica-card-promoted {
      .fsr-holder {
        height: 125px;
        width: 100%;
      }
      .card-body {
        background-color: rgba($white, .25);
      }
    }

    .form-group {
      label {
        font-size: .65rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
        opacity: .75;
      }
      .form-check-label {
        line-height: 1.25rem;
        opacity: 1;
      }
      .form-control {
        position: relative;
        border-width: 0 0 1px 0;
      }
    }
}
