
.coreExtend {
    //background-color: $darkgrey;
    //color:
}

.coreExtend-Wrap {
  .form-signin { padding-top: 10px; }
  .heading { letter-spacing: 3px; }
}

.sm-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
