.btn.btn-primary,
.btn.btn-secondary {
  text-transform: uppercase;
  color: $white;
  font-weight: 300;
  letter-spacing: 2px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 0.25rem .5rem;
  font-size: 0.5rem;
  line-height: 1.5;
}

.form-control {
  letter-spacing: 1px;
  &:focus {
    box-shadow: none;
  }
}
