.replica-thumbnail {
  position: relative;
  display: block;
  transition: opacity 1s;
  a {color: $white;}

  .img-thumbnail,
  .media-actions,
  .media-title {
    opacity: 0;
  }
  .media-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    .btn { font-size: 9px; }
  }
  .media-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: $white;
    text-shadow: 2px 2px #333;
    transition: text-shadow .3s;
    & > h4 { font-size: .95rem;}
    & > h6 { }
  }
  &:hover {
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      width: 100%;
      background-color: rgba($black, .5);
    }
    .media-title,
    .media-actions {
      opacity: 1;
    }
  }
}
