.page-sidebar {
  width: 250px;
  background-color: #242628;
  z-index: 1000;
  left: -180px;
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
  transition: all .3s ease-in-out;

  .page-sidebar .sidebar-menu {
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
  }
  .sidebar-header {
    display: block;
    line-height: 40px;
    background-color: #202224;
    border-bottom: 1px solid #1d1f20;
    color: #fff;
    width: 100%;
    padding: .5rem 1rem;
    padding-left: 30px;
    clear: both;
    z-index: 10;
    position: relative;
  }
  .menu-items>li {
    display: block;
    padding: 0;
    clear: right;

    &>a {
      color: #6c6e72;
      display: block;
      padding: 0 3px;
      padding-left: 32px;
      min-height: 40px;
      line-height: 40px;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        .fa {color: $white;}
      }
      .title {
        display: block;
        line-height: 16px;
      }
      .details {
        font-size: 12px;
        opacity: .4;
        display: block;
        line-height: 18px;
      }
      &:hover {color: $white; }
    }

  }
  .icon-thumbnail {
    display: inline-block;
    background: #1c1d1f;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 0;
    margin-right: 14px;
    color: #6c6e72;
    font-size: 16px;
    transition: transform .4s cubic-bezier(.05,.74,.27,.99), -webkit-transform .4s cubic-bezier(.05,.74,.27,.99);
    &.active {
      color: #fff;
    }
  }
}

.sidebar-checkbox {
  display: none;
}

//Style the `label` that we use to target the `.sidebar-checkbox`
.sidebar-toggle {
  position: absolute;
  top:  1rem;
  display: block;
  width: 40px;
  padding: .5rem .65rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar-toggle:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: .125rem;
  border-top: .375rem double;
  border-bottom: .125rem solid;
  box-sizing: border-box; //Make the border inside the box
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: #505050;
}

@media (min-width: 30.1rem) {
  .sidebar-toggle {
    position: absolute;
    right: 10px;
    width: 40px;
  }
  .sidebar-toggle:before {
    padding-bottom: .15rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
}

.page-sidebar,
.sidebar-toggle {
  backface-visibility: hidden;
}
.sidebar-toggle {transition: transform .3s ease-in-out;}
#sidebar-checkbox:checked + .page-sidebar { visibility: visible; }
#sidebar-checkbox:checked ~ .page-sidebar,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  transform: translateX(180px);
}
