{% extends 'themes/exile/base.html' %}{% load core_tags %}{% load replica_blog_tags %}

{% block title %}Topics | {% endblock %}
{% block page %}news topics pages{% endblock %}

{% block content %}
	<h2 class="sr-only">Topics</h2>
    <ul class="list-unstyled replica-topic-list layout-single-column">
        {% for obj in object_list %}
        <li class="media topic">
            {% if obj.image %}
            <img class="d-flex {{obj.slug}}" src="{{obj.image.thumbnail_small}}" alt="{{obj.title}}" />
            {% endif %}
            <div class="media-body">
                <h4 class="mt-0 mb-1">
                    <a href="{% url 'ReplicaPulse:EntriesByTopic' obj.slug %}">{{obj.title}}</a>
                    <small>{{ obj.entry_count }} posts</small>
                </h4>
                <div class="topic-description">
                    {{ obj.description|safe }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
