<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<nav class="page-sidebar">
  <div class="sidebar-header">

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <a href="{ name: 'Home' }">
      <img src="/static/admin/img/replica_logo.png" alt="logo" class="brand replica-clickable" ata-src-retina="/static/admin/img/replica_logo.png" width="22" height="22" />
    </a>
    <div class="sidebar-header-controls pull-right">
      <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar">
        <i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <div class="scroll-wrapper menu-items">
    <ul class="menu-items list-unstyled">
      <li class="mt-3 mb-3">
        <a href="{% url 'ReplicaAdmin:Home' %}" class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>

          <span class="title">Dashboard</span>
          <span class="details">User Metrics</span>
        </a>
      </li>
      <li class="mb-3">
        <a href="#" class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </span>
          <span class="title">Posts</span>
          <span class="details">{{total_counts.published}} items</span>
        </a>
      </li>
      <li class="mb-3">
        <a href="#" class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-book" aria-hidden="true"></i>
          </span>
          <span class="title">Notes</span>
          <span class="details">{{total_counts.notes}} items</span>
        </a>
      </li>
      <li class="mb-3">
        <a href="#" class="detailed">
          <span class="icon-thumbnail replica-clickable pull-right">
            <i class="fa fa-tags" aria-hidden="true"></i>
          </span>
          <span class="title">Topics</span>
          <span class="details">{{total_counts.topics}} items</span>
        </a>
      </li>
      <li class="mb-3">
        <a href="{name:'ChannelList'}"  class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
          </span>
          <span class="title">Channels</span>
          <span class="details">{{total_counts.channels}} items</span>
        </a>

      </li>
      <li class="mb-3">
        <a href="{% url 'ReplicaAdmin:MediaList' %}"  class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
          </span>
          <span class="title">Media</span>
          <span class="details">{{total_counts.media}} items</span>
        </a>

      </li>
      <li class="mb-3">
        <a href="{% url 'ReplicaAdmin:SiteSettings' %}"  class="detailed">
          <span class="icon-thumbnail pull-right">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </span>
          <span class="title">Settings</span>
          <span class="details">Site controls</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
