
<div class="md-header btn-toolbar">
  <div class="markdownify-menu btn-group mr-2" data-target="id_body" role="toolbar">
    <a class="btn--insert btn btn-secondary" data-prefix="### " href="javascript:void(0)"><i class="fa fa-header"></i></a>
    <a class="btn--insert btn btn-secondary" data-prefix="*" data-suffix="*" href="javascript:void(0)"><i class="fa fa-italic"></i></a>
    <a class="btn--insert btn btn-secondary" data-prefix="**" data-suffix="**" href="javascript:void(0)"><i class="fa fa-bold"></i></a>
    <a class="btn--insert btn btn-secondary" data-prefix="> " href="javascript:void(0)"><i class="fa fa-quote-left"></i></a>
    <a class="btn--insert btn btn-secondary" data-prefix="* " href="javascript:void(0)"><i class="fa fa-list-ul"></i></a>
    <a class="btn--insert btn btn-secondary" data-prefix="1. " href="javascript:void(0)"><i class="fa fa-list-ol"></i></a>
  </div>

  <div class="markdownify-menu btn-group mr-2" data-target="id_body" role="toolbar">
    <a class="btn--insert btn btn-secondary" data-type="link" href="javascript:void(0)"><i class="fa fa-link"></i></a>
    <a class="btn--insert btn btn-secondary" data-type="video" href="javascript:void(0)"><i class="fa fa-video-camera"></i></a>
    <a class="btn--insert btn btn-secondary" data-type="img" href="javascript:void(0)"><i class="fa fa-picture-o"></i></a>
  </div>
  <div class="markdownify-menu btn-group mr-2" role="toolbar">
    <a class="btn--preview btn btn-primary" href="javascript:void(0)" data-target="id_body"><i class="fa fa-eye"></i></a>
  </div>
</div>
