.replicaMicro {

  .timelines {
    .datetime {
      margin: 20px 0;
    }
    .timeline {
      padding-bottom: 10px;
      border-bottom: 1px solid darken($body-bg, 10%);
      margin-bottom: 10px;
      h4 {
        margin-bottom: 0;
        font-size: 1.25rem;
        letter-spacing: 1px;
        font-weight: 500;
      }
      p {
        margin: 0;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }
  }

  .last-posted {
    padding: 8px $grid-gutter-width;
  }

  .note {
    transition: all .3s, color .3s;
    padding-bottom: 10px;
    border-bottom: 1px solid darken($body-bg, 10%);
    margin-bottom: 20px;
    h2 { font-size: 21px; }
    h3 { font-size: 19px; }
    h4 { font-size: 17px; }
    .note-body {
      letter-spacing: 1px;
      font-weight: 100;
      p:last-child {margin-bottom: 0;}
    }
    .manage-notes a {}
  }
  .note + .last-posted {margin-top: $grid-gutter-width;}
}
