{% extends 'base.html' %}
{% load core_tags %}{% load replica_components %}

{% block title %}{{ object.title|escape }} | {% endblock %}

{% block meta %}
<meta property="og:url" content="{{ object.absolute_url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ object.title|escape }}" />
<meta property="og:description" content="{{ object.deck_html }}" />
{% if object.imgage %}<meta property="og:image" content="{{ object.image.url }}" />{% endif %}
{% endblock %}

{% block page %}replica {{ object.post_type|safe }} {{ object.slug|safe }} detail{% endblock %}

{% block content %}
	{% include "replica/_includes/_datetime.html" %}
	{% include "replica/_includes/_entry.html" %}
{% endblock %}
