{% extends 'base.html' %}{% load core_tags %}{% load replica_blog_tags %}

{% block title %}Topics | {% endblock %}
{% block page %}news topics pages{% endblock %}

{% block content %}

	<h2 class="sr-only">Topics</h2>

    <ul class="list-unstyled replica-media-list layout-single-column">
        {% for obj in object_list %}
        <li class="media">
            {% if obj.image %}
            <img class="d-flex {{obj.slug}}" src="{{obj.image.thumbnail_small}}" alt="{{obj.title}}" />
            {% endif %}
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a href="{% url 'ReplicaPulse:EntriesByTopic' obj.slug %}">{{obj.title}}</a>
                    <small class="datetime">{{ obj.entry_count }} posts</small>

                </h5>
                <div class="datetime">
                    {{ obj.description|safe }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
