{% load humanize %}
<div class="card replica-card replica-card-promoted mb-3">
{% if obj %}
  <div class="fsr-holder">
    <img class="sr-only image-full" src="{{obj.image.image.url}}">
  </div>
  <div class="card-body">
    <small class="text-muted d-block pull-right"><a href="">Edit</a></small>
    <h6 class="header-subtitle">Currently Promoted:</h6>
    <h4 class="card-title"><a href="{{obj.entry.get_absolute_url}}">{{obj.title}}</a></h4>
    <p class="card-text">
      <small class="text-muted">Last updated {{obj.pub_date|naturaltime}}</small>
    </p>
  </div>
{% else %}
  <div class="card-body">
    <h6 class="header-subtitle">No currently promoted stories</h6>
    <small class="text-muted d-block"><a href="">Promote one now?</a></small>
  </div>
{% endif %}
</div>
