{% load humanize %}
{% for obj in object_list %}
{% if forloop.first %}
<div class="card replica-card replica-card-promoted mb-3">
  <div class="fsr-holder">
    <img class="sr-only image-full" src="{{obj.image.image.url}}">
  </div>
  <div class="card-body">
    <small class="text-muted d-block pull-right"><a href="">Edit</a></small>
    <h6 class="header-subtitle">Currently Promoted:</h6>
    <h4 class="card-title"><a href="{{obj.entry.get_absolute_url}}">{{obj.title}}</a></h4>
    <p class="card-text">
      <small class="text-muted">Last updated {{obj.pub_date|naturaltime}}</small>
    </p>
  </div>
</div>

<div class="card replica-card replica-card-settings mb-1">
  <div class="card-header">
    <h4 class="card-title">Previously promoted stories</small></h4>
  </div>
</div>
<div class="card replica-card card-{{object_slug}} replica-list-card mb-3">
  <ul class="list-group list-group-flush">
{% else %}
  <li class="list-group-item" id="{{ obj.slug }}">
    <h6 class="entry-title"><a href="{% url 'ReplicaAdmin:EntryEdit' obj.id %}">{{ obj.title }}</a></h6>
    <small class="text-muted">Last updated {{obj.pub_date|naturaltime}}</small>
  </li>
{% endif %}
{% empty %}
<div class="card replica-card card-{{object_slug}} replica-list-card mb-1">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No promoted entries.</li>
{% endfor %}
  </ul>
</div>

<a class="btn btn-primary btn-block mb-3" href="#">Create a new promotion</a>
