{% if obj %}{% load humanize %}
<div class="card replica-card mb-3">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="{{obj.image.image.url}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
  <div class="card-body">
    <h6>Currently Promoted:</h6>
    <h4 class="card-title"><a href="{{obj.entry.get_absolute_url}}">{{obj.title}}</a></h4>
    <p class="card-text">{{obj.deck_html|safe}}</p>
    <p class="card-text"><small class="text-muted">Last updated {{obj.pub_date|naturaltime}}</small></p>
  </div>
</div>
{% endif %}
